canvas {
    width: 100%;
    /* max-width: 1000px; */
    height: 90%;
    /* background-color: #f5f5f5; */
    border: 1px solid black;
    border-radius: 4px;
    }

.row-game {
    padding: 0 !important;
    transform: translate(20%, 0);
    z-index: 2000;
    color:black;
    margin-top: 20%;
    height: 100%;
    width: 100%;
    position: fixed;
}

.waiting {
    margin-left: 1.2rem;
}

.waiting-div {
    transform: translate(50%, 120%);
    font-size: 2rem;
    margin-right: 24rem;
}