@media all and (min-width: 500px) {
    .Mainpage {
      left      : 50%;
      top       : 10%;
      position  : absolute;
      transform : translate(-50%, -50%);
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 600px;
      background-color: 'rgba(52, 52, 52, 0.8)';
    }

    .Login .textbox {
      margin-bottom: 20px;
    }
  }